/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos dos Cartões */
.materias-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.areaNomeMateria {
    font-weight: bold;
    color: #3f51b5; /* Azul padrão do Material-UI */
}

/* Estilos da Modal */
.chatgpt-modal {
    margin: auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    outline: none;
}

/* Estilos da Área de Chat */
.chat-area {
    max-height: 400px; /* Limita a altura da área de chat */
    overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder a altura */
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.chat-message {
    margin-bottom: 10px;
}

.chat-message.user {
    text-align: right; /* Alinha mensagens do usuário à direita */
}

.chat-message.gpt {
    text-align: left; /* Alinha mensagens do GPT à esquerda */
}

.message-content {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.chat-message.user .message-content {
    background-color: #3f51b5; /* Azul para mensagens do usuário */
    color: white;
}

.chat-message.gpt .message-content {
    background-color: #e0e0e0; /* Cinza claro para mensagens do GPT */
    color: black;
}

/* Estilos do Botão e Input */
input[type="text"] {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

/* Estilos do Snackbar */
.MuiSnackbarContent-root {
    background-color: #f44336; /* Vermelho para mensagens de erro */
}

/* Estilos para Títulos de Chat */
.chat-title {
    font-weight: bold;
    font-size: 1.2em; /* Tamanho maior para os títulos */
    color: #3f51b5; /* Cor do Material-UI */
    margin-top: 15px; /* Espaçamento acima dos títulos */
    margin-bottom: 5px; /* Espaçamento abaixo dos títulos */
}

/* Se necessário, adicione mais estilos para formatação */
